aniso8601==1.1.0
APScheduler==3.0.5
babelfish==0.5.5
beautifulsoup4==4.4.1
CherryPy==4.0.0
cssmin==0.2.0
enum34==1.1.2
feedparser==5.2.1
Flask==0.10.1
Flask-Assets==0.11
Flask-Compress==1.3.0
Flask-Login==0.3.2
Flask-RESTful==0.3.5
flask-restplus==0.7.2
FlexGet==1.2.420
functools32==3.2.3.post2
futures==3.0.3
guessit==0.10.3
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
MarkupSafe==0.23
ordereddict==1.1
path.py==8.1.2
pathlib==1.0.1
pbr==1.8.1
plumbum==1.6.1.post0
progressbar==2.3
pynzb==0.1.0
pyparsing==2.0.7
PyRSS2Gen==1.1
pyScss==1.3.4
python-dateutil==2.4.2
pytvmaze==1.4.3
pytz==2015.7
PyYAML==3.11
requests==2.9.1
rpyc==3.3.0
six==1.10.0
SQLAlchemy==1.0.11
stevedore==1.10.0
tmdb3==0.7.2
transmissionrpc==0.11
tzlocal==1.2
virtualenv==1.7.1.2
webassets==0.11.1
Werkzeug==0.11.3
wheel==0.26.0
